In [5]:
import pandas as da
import numpy as nu
im
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [39]:
#Table loading, cleaning, and processing
bs=da.read_csv('Bon_Secour_T_S_O2.csv')
#bs.head()
bs2020=bs[bs.YYYY==2020]
bs2020=bs2020.drop('ss', axis=1)
#bs2020.head()
#bs2020['datestr']=bs2020.iloc[:,0:5].astype(str).apply('-'.join,axis=1)
#bs2020['datestr']=da.to_datetime(bs2020['datestr'],format='%Y-%m-%d-%H-%M')
#bs2020=bs2020.drop(['YYYY','MM', 'DD','hh','mm'], axis=1)

In [49]:
sal=bs2020.groupby(['mm', 'DD']).mean('S (PSU)')
sal.head()

         YYYY        MM         hh    T (^oC)    S (PSU)  O2 (mg/L)
mm DD
0  1   2020.0  7.100000  11.500000  22.675272  14.173138   6.685314
   2   2020.0  7.100000  11.500000  22.444831  13.025975   7.086483
   3   2020.0  7.028340  11.765182  22.497008  12.020697   7.350287
   4   2020.0  6.809160  11.530534  22.797023  11.330038   6.789084
   5   2020.0  6.818182  11.500000  23.061870  11.699122   6.327557